{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ internship.title }}</title>
  <link rel="stylesheet" href="{% static 'style.css'%}" />
</head>
<body>
  <header class="header">
    <div class="logo">GradIntern</div>
  </header>
    <a href="{% url 'student:student-dashboard' %}">← Back to Dashboard</a>

  <main class="detail-page">
    <h2>{{ internship.title }}</h2>
    <p><strong>Company:</strong> {{ internship.recruiter.company_name }}</p>
    <p><strong>Description:</strong> {{ internship.internship_description }}</p>
    <p><strong>Skills Required:</strong> {{ internship.skills_required }}</p>
    <p><strong>Location:</strong> {{ internship.location }}</p>
    <p><strong>Stipend:</strong> ${{ internship.stipend }}</p>
    <p><strong>Posted on:</strong> {{ internship.posted_date|date:"M d, Y" }}</p>
  <form method="post" action="{% url 'student:apply' internship.id %}">
      {% csrf_token %}
      <button type="submit" class="btn">Apply Now</button>
    </form>  
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
</main>

  <footer class="footer">
    <p>&copy; 2025 GradIntern. All rights reserved.</p>
  </footer>
</body>
</html>
